*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(12, 12, 116);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

main hr{
    border: 0;
    background: lavender;
    height: 1.2px;
    margin: 40px 84px;
}
.left{
    font-size: 2rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
}
.firstSection > div{
   width: 30%;
}
.rightSection img{
    width: 50%;
    padding:40px;
    
}
.leftSection{
    font-size: 3rem;
    
}
.purple{
    color: rgb(142, 58, 220);
}
#element{
    color: rgb(142, 58, 220);;
}
.secondSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0;
   
}
.secondSection > div{
    width: 30%;
 }

.secondSection h1{
    font-size: 1.9rem;
    height: 10vh;
    
}
.aboutme{
    font-size: 1.5rem;
    color: white;
    text-align: justify;
}

.skill-shower {
    margin-bottom: 15px; 
  }
  
  .progress-barhtml {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
}
.progress-barcss {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
}
.progress-barjs {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
}

.skill-level {
    position: absolute; 
    top: 0; 
    right: 0; 
    color: #fff;
    font-weight: bold;
    transition: width 0.5s ease;
}

.progress-barhtml:after {
    content: "";
    display: block;
    width: 90%; 
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease;
}
.progress-barcss:after {
    content: "";
    display: block;
    width: 77%; 
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease;
}
.progress-barjs:after {
    content: "";
    display: block;
    width: 60%; 
    height: 100%;
    background-color: #007bff;
    transition: width 0.5s ease;
}
.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0; 
}

.thirdSection h1 {
    font-size: 1.9rem;
    margin-bottom: 20px; 
}

.project {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 1200px; 
    margin-top: 30px; 
}
.project a{
    text-decoration: none   ;
}

.project-item {
    flex: 1 0 40%; 
    margin: 20px;
    text-align: center;
}

.project-item img {
    width: 20%; 
    max-width: 300px; 
    border-radius: 5px; 
}

.project-text {
    color: white;
    margin-top: 10px; 
    text-align: center; 
}



.fourthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

.fourthSection h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-top: 30px;
}
.blogs a{
    text-decoration: none;
}

.blog-item {
    flex: 1 0 40%;
    margin: 20px;
    text-align: center;
}

.blog-item img {
    width: auto; 
    height: 200px; 
    object-fit: cover;
    border-radius: 5px;
}


.blog-text {
    color: white;
    margin-top: 10px;
    text-align: center;
}
.fifthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
}

.fifthSection h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}
.Contacts {
    display: flex;
    justify-content: center; 
    max-width: 1200px;
    margin-top: 30px;
}
.Contacts a{
    text-decoration: none;
}

.Contact-item {
    flex: 1 0 auto; 
    margin: 0 10px; 
    text-align: center;
}

.Contact-item img {
    width: auto; 
    height: 100px; 
    object-fit: cover;
    border-radius: 25px;
}

.Contact-text {
    color: white;
    margin-top: 10px;
    text-align: center;
}
footer{
    background-color: rgba(255, 255, 255, 0.214);
    
    height: 120px;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;

}
.footer ul{
    list-style: none;
}
.footer>div{
    width: 1px;
}
.footer-first{
    color: rgb(208, 205, 205);
    display: flex;
    width: auto;

}
.footer-second{
    color: rgb(208, 205, 205);
}
.footer-third{
    color: rgb(208, 205, 205);
}
.footer-fourth{
    color: rgb(208, 205, 205);
    display: flex;
}
.footer i{

    text-decoration: none; 
    border-radius: 50%;
    padding: 10px;
}
.footer a{
    text-decoration: none !important;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a:visited,
.footer a:visited {
    color: inherit; 
}
nav ul li a:hover{
    color: yellow;
    font-size: 1.1rem;
}
@media only screen and (max-width: 600px) {
    .left, .right {
    text-align: center;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {  
}
@media only screen and (min-width: 1025px) {   
}

